* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button {
    font-family: 'Sulphur Point', sans-serif;
    font-weight: bold;
    
}

body,
input,
textarea {
    font-family: 'Sulphur Point', sans-serif;
    font-weight: none;
}

header {
    padding: 16px 0;
    font-size: 24px;
    background-color:rgb(73, 56, 85);
    color: aliceblue;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: aliceblue;
    text-decoration: none;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container {
    max-width:1280px;
    margin-left: 12px;
    margin-top: 18px;
    margin-bottom: 16px;
}

.container h2,
h3 {
    margin-top: 0px;
    margin-bottom: 16px;
}

.container p {
    margin-bottom: 8px;
}

#about img {
    max-height: 400px;
    margin-top: 0px;
    margin-right: 18px;
    margin-bottom: 18px;
    margin-left: 0px;
}

header .container,
section .container {
    display: flex;
}

section h2 {
    color: rgb(73, 56, 85);
}

#characters img {
    height: 300px;
    width: 250px;
    margin: 0 85px 8px;
}

#characters .container {
    display: block;
}

.characters-item {
    display: flex;
    justify-content: space-between;
}

.characters-item h3 {
    text-align: center;
}

.characters-item p {
    margin: 0 50px 8px;
    text-align: justify;
}

#fonte {
    text-align: center;
}

#questions .container {
    display: block;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    background-color: rgb(73, 56, 85);
    color:aliceblue ;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color:rgb(122, 101, 138);
}

input:focus, textarea:focus {
    outline-color:rgb(73, 56, 85);
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
    margin: 0 350px 0;
}

#questions h2 {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

#arrow li a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    bottom: 6px;
    right: 6px;
}

footer {
    background-color:rgb(73, 56, 85);
    color: aliceblue;
    padding: 16px 0;
}